* {
    padding: 0;
    margin: 0;
}

#hamburger {
    display: none;
}

.navbar-wrapper {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar-logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    /* line-height: 143.19%; */
    letter-spacing: 0.065em;
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: rgba(31, 46, 53, 0.8);
    min-width: 700px;
}

.navbar-list li {
    padding-left: 50px;
}

li img {
    padding-left: 8px;
    width: 13px;
    height: 9px;
}

li a {
    text-decoration: none;
    color: rgba(31, 46, 53, 0.8) !important;
}

#list-first-child {
    padding: 0;
}

.bold-indonesia {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.05em;
    color: #263238;
}

.dwidasa {
    font-size: 10px;
    line-height: 14, 32px;
    /* or 14px */
    letter-spacing: 0.065em;
    color: rgba(0, 0, 0, 0.6);
}

.samsara {
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    letter-spacing: 0.015em;
    color: rgba(38, 50, 56, 0.8);
}

.text-near-logo {
    padding-left: 2px;
}

.navbar-right-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right-box img {
    padding-left: 24px;
}

.intro-main-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 51px;
    align-items: center;
}



.content-box {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    width: 50%;
    min-width: 500px;
}

.content-box h1 {
    padding-top: 71px;
    font-weight: bold;
    font-size: 48px;
    line-height: 64.17px;
    /* or 64px */
    color: #1F2E35;
}

.content-box span {
    color: #EE4248;
}

.content-box p {
    padding-top: 24px;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #30444E;
}

.content-box button {
    margin-top: 24px;
    width: 161px;
    height: 53px;
    left: 0px;
    top: 372px;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    color: white;
    outline: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}

.image-box {
    padding-top: 63px;
}

.company-short-description-wrapper {
    background: #F7F7F7;
}

.company-short-description {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 51px;
    align-items: center;

}

.middle-content-box {
    width: 50%;
    font-family: Roboto;
    font-style: normal;
    padding-left: 82px;
    padding-top: 57px;
    padding-bottom: 63px;
    min-width: 500px;
}

.middle-content-box h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 42.78px;
    /* or 43px */
    color: #1F2E35;
    font-weight: bold;
    padding-bottom: 24px;
}

.middle-content-box span {
    color: #EE4248;
}

.middle-content-box p {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* or 27px */
    color: #30444E;
}

.middle-image-box {
    margin-top: -42px;
    padding-bottom: 70px;
}

.product-n-service {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.product-n-service h1 {
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42.78px;
    padding-top: 116px;
    /* identical to box height, or 43px */
    text-align: center;
    color: #1F2E35;
    padding-bottom: 47px;

}

.items-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.item img {
    width: 100px;
}

.item h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    /* or 37px */
    color: #EE4248;
    padding-top: 21.36px;
}

.item p {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* or 27px */
    color: #30444E;
    padding-top: 15px;
    display: inline-block;

}

.item button {
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 26px */
    color: #FFFFFF;
    margin-top: 23px;
    width: 119px;
    height: 42px;
    left: 24px;
    top: 314px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #EE4248;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.contacts {

    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 118px auto;
    margin-bottom: 26px;
    justify-content: space-between;
}

.left-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 36px;
    font-size: 10px;
    /* line-height: 143.19%; */
    letter-spacing: 0.065em;
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    min-width: 200px;
}



.company-name {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #263238;
    padding-top: 10px;
}

.adress {
    font-family: Roboto;
    padding-top: 8px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    /* or 27px */
    color: #263238;
}

.middle-box {
    display: flex;
    flex-direction: column;
    padding-left: 10 7px;
}

.middle-box p {
    padding-bottom: 15px;
    font-family: Roboto;
    padding-top: 41px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #263238;
}

.middle-box ul {
    list-style-type: none;
}

.middle-box li {
    font-family: Roboto;

    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    /* or 27px */
    color: #263238;
}

.right-box {
    margin-top: 55px;
}

footer {
    height: 64px;
    background: #EE4248;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    padding-top: 22px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

@media only screen and (max-width: 415px) {
    .contacts {
        flex-direction: column;
    }

    .navbar-right-box img {
        display: none;
    }

    #hamburger {
        display: block;
        width: 25px;
        height: 19px;
        border: none;
        background-color: white;
        background-image: url('./images//text_align_right.svg');
    }

    .footer-text {
        font-size: 15px;
        line-height: 16px;
    }

    .right-box img {
        width: 310px;
    }

    .intro-main-section {
        flex-direction: column;
    }

    .navbar-list {
        display: none;
    }

    .content-box {
        order: 2;
        min-width: 400px;
    }

    .content-box h1 {
        font-size: 34px;
        line-height: 45px;
        display: inline-block;
        width: 360px;
        margin: 0 auto;
        padding: 0px;
        text-align: center;
    }

    .content-box p {
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        display: inline-block;
        width: 360px;
        margin: 0 auto;
        padding: 0px;
    }

    .content-box button {
        margin: 28px auto;
    }

    .image-box {
        transform: scale(0.6);
        margin-top: -120px;
    }

    .company-short-description {
        flex-direction: column;
    }

    .middle-image-box img {
        width: 350px;
        order: 1;
    }

    .middle-content-box {
        display: flex;
        flex-direction: column;
        font-family: Roboto;
        font-style: normal;
        width: 50%;
        min-width: 400px;
        padding: 0;


    }

    .middle-content-box h1 {
        font-size: 32px;
        line-height: 43px;
        display: inline-block;
        width: 364px;
        height: 86px;
        margin: 0 auto;

        text-align: center;

    }

    .product-n-service h1 {
        padding-bottom: 0px;
        padding-top: 36px;
    }

    .middle-content-box p {
        font-size: 20px;
        line-height: 29px;
        display: inline-block;
        width: 358px;
        margin: 0 auto;
        padding-bottom: 29px;
    }

    .items-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item {
        width: 100%;
    }

    .item p,
    h3,
    button,
    img {
        text-align: center;
        align-self: center;
    }

    .item img {
        margin-top: 20px;
    }

    .item button {
        margin-top: 16px;
    }

    .left-box {
        margin-top: 0;
    }

}